{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{% block body%}
    <div id="container">
        <div id="welcome">
            <h1>Bienvenu</h1>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <h3>Vous êtes connecté(e) {{ app.user.username }} {% if is_granted("ROLE_ADMIN") %} (admin) {% endif %}</h3>
                <h4><a href="{{ path("fos_user_security_logout") }}">Déconnexion</a></h4>
            {% else %}
                <h4><a href="{{ path("fos_user_security_login") }}">Connexion</a></h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
